.navigation {
    text-align: center;
    margin: 20px;
}
.navigation__list{
    list-style: none;
    padding-left: 0;
}

.navigation__item{
    margin: 20px;
}

.navigation__link {
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    color: black;
    background-color: rgb(235, 238, 201);
    padding: 5px;
    border-radius: 10px;
}

.navigation__link:hover {
    box-shadow: inset -78px 44px 126px -55px hsl(157, 83%, 47%);
}

.navigation__link:active {
    box-shadow: inset -78px 44px 126px -55px hsl(157, 83%, 67%);
}