html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.form {
    background-image: url("d.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
background-position: center;
}

.form__fieldset {
    flex-basis: 600px;
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 30px black;
}

.form__legend {
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    display: inline-block;
}
.form__currency{
    padding: 4px;
    border-radius: 3px;
}

.form__valueSelect{
    display: flex;
    align-items: center;
    justify-content: center;
}


.form__labelText {
    background-color: coral;
    padding: 5px;
    border-radius: 3px;
    color: white;

}

.form__button {
    max-width: 600px;
    width: 100%;
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}
