html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.form {
    margin: 10px 10px auto;
    background-image: url("d.jpg");
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: auto;
    width:auto;
    height:700px;

}

.form__fieldset {
    max-width: 500px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    background-color: hsla(33, 100%, 88%, 0.548);
}

.form__legend {
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    display: inline-block;
}

.form__labelText {
    background-color: coral;
    padding: 5px;
    border-radius: 3px;
    color: white;
    margin-left: 41%;
    
}

.form__paragraph {
    margin-left: 30.5%;
    background-color: coral;
    padding: 5px;
    border-radius: 3px;
    color: white;
}

.form__resultValue {
    margin-left: 37%;
}

.form__zlotychValue {
    margin:auto;
}

.form__valueSelect {
    margin-left: 28%;
}

.form__button {
    margin-left: 46%;
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}


.form__currency {
    margin-left: 27%;
}