html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.header{
    width:100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 30px;
    text-align: center;
}

.all{
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    text-align: center;
    overflow-x: auto;
}
.body{
    background-color:#F1F1F1;
    
}
.dark {
    background-color: rgb(70, 70, 70);
    color: white;
}

.outside{
    text-align: center;
    width: 100%;
    background-color: rgba(253, 51, 51, 0.452);
}
.table{
    margin: auto;
}
.img1{
    margin: auto;
    max-width: 1000px;
}
.img2{
    margin:auto;
    max-width: 1000px;
}

.table{
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    
}
.table__Cell{
    border: 1px solid #ccc;
    padding: 20px;
    text-align:center;
}
.table__Header{
    background-color: crimson;
    color: white;
}

.table__Row:hover{
    background: #ddd;
}
.navigate__list {
    list-style-type: none;
    padding-left: 0;
}
.navigate__listitem {
    display: inline-block;
    margin: 22px;
    box-shadow: 8px 8px 24px 0px rgb(53, 58, 114);
}
.navigate__listlink {
    text-decoration: none;
    border-radius: 10px;
    color: rgb(241, 241, 241);
    padding: 20px;
    background-color: rgb(121, 124, 126);
}
.navigate__listlink:hover {
    background-color: rgb(71, 77, 75);
    color: white;
}
.button {
    color: rgb(0, 153, 255);
    border: 1px solid rgb(0, 153, 255);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    padding: 10px;
}
.button:hover {

    background-color: rgb(38, 40, 143);
    color: white;
}