.naglowek{
    color: rgb(169, 211, 42);
    background-color: rgb(0, 0, 0);

}

.pudelko{
    background-color:rgb(34, 34, 32);

}
.przycisk{
    color: honeydew;
    background-color: rgb(13, 14, 13);
}

.zajawka{
    color: rgb(122, 48, 73);
}

.nowaklasa{
    color:hotpink;
    background-color: rgb(91, 94, 52);
}

.tlo{
    background-color: rgb(85, 133, 87);
}